.add-to-cart-btn {
  background-color: #8b4513; /* royal brown */
  color: #fffaf0; /* cream text */
  border: none;
  padding: 10px 16px;
  margin-top: 10px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.add-to-cart-btn:hover {
  background-color: #a0522d; /* lighter royal brown */
  transform: scale(1.05);
}
